.main{
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 1s linear;
    height: 400px;
    position: relative;
}
.main.enter {
    opacity: 0;
}
.main.enter-active {
    opacity: 1;
    transition:  200ms;
}
.main.exit {
    opacity: 1;
}
.main.exit-active {
    opacity: 0;
    transition:  200ms;
}
._main.enter-done{
    opacity: 1;
    transition: 200ms;
}