.mainBlock{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .mainRegForm{
        margin-top: 80px;
        width: 30%;
        height: 600px;

        & .MainTitle{
            color: #F38663;
            font-family: 'roboto', 'sans-serif';
            margin-left: 20px;
        }

        & .stepView{
            width: 100%;
            padding-left: 10px;
            margin-top: 20px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & p{
                margin-right: 10px;
                font-size: .8rem;
                font-family: 'roboto', 'sans-serif';
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
            
            & .acticeStep{
                color: #F38663;
            }

            & .disableStep{
                color: #4d4c4c;
            }
        }
    }
}

.stepBlock{

    background-color: #F38663;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 10px;
    & .InputBlock{
        margin-top: 20px;
        width: 80%;
        height: 80px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        & .InputTitle{
            color: white;
            margin-bottom: 10px;
            font-family: 'roboto', 'sans-serif';
        }
        & .InputStyle{
            width: 93%;
            height: 90%;
            outline: none;
            background: white;
            border-radius: 5px;
            font-size: 1.1rem;
            padding: 10px;
        }
    }
}

.SlideOneBtn{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .NexnBtn{
        width: 40%;
        height: 100%;
        background-color: #F38663;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & p{
            color: white;
            font-family: 'roboto', 'sans-serif';
        }

        &:hover{
            background-color: #b6664c;
        }
    }

    & .BackBtn{
        width: 40%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4d4c4c;
        cursor: pointer;

        & p{
            color: white;
            font-family: 'roboto', 'sans-serif';
        }

        &:hover{
            background-color: #3a3a3a;
        }
    }

    & .RegBtn{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F38663;
        cursor: pointer;

        & p{
            color: white;
            font-family: 'roboto', 'sans-serif';
        }

        &:hover{
            background-color: #b6664c;
        }
    }
}
.InfoBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;

    & .CreateBy{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
        ;
    }
}
