@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    /*Основные цвета*/
    --mainColor : #F38663;
    --blackMainColor: #3D3D3D;
    --MaintextColor: #3D3D3D;
    --textFont: "Roboto", sans-serif;

}